{% if mysql_ha == 'cluster' %}
{% set i =  groups[bra ~ '-cluster_mysql'].index(inventory_hostname) %}
{% else %}
{% set i =  groups[bra ~ '-mysql'].index(inventory_hostname) %}
{% endif %}

# 我们的 i = {{i}}

############################################################################################

############################################################################################


############################################################################################


############################################################################################


############################################################################################

{% if MYSQL.MASTER is defined and i == 0 %} 
SHOW MASTER STATUS;
{% endif %}


{% if MYSQL.MASTER is defined and i > 0 %}               
STOP SLAVE IO_THREAD;
STOP SLAVE;

CHANGE MASTER TO MASTER_HOST='{{  MYSQL.MASTER }}', 
                 MASTER_USER='replicator', 
                 MASTER_PASSWORD='mysql_pass_replicator', 
                 {{ 'MASTER_LOG_FILE=\'mysql-bin.000002\', MASTER_LOG_POS=12106,' if (mysql_version == '5.5' or mysql_version == '5.6' or MYSQL.GTID_MODE == 'no' or MYSQL.GTID_MODE == 0 or MYSQL.GTID_MODE == false ) else 'MASTER_AUTO_POSITION=1,' }}
                 MASTER_CONNECT_RETRY=30;   
                 
START SLAVE;
START SLAVE IO_THREAD;
SHOW SLAVE STATUS;
{% endif %}


