{% set i =  groups['mysql'].index(inventory_hostname) %}


# 我们的 i = {{i}}


INSTALL PLUGIN group_replication SONAME 'group_replication.so';

SET SQL_LOG_BIN=0;


FLUSH PRIVILEGES;

SET SQL_LOG_BIN=1;

CHANGE MASTER TO MASTER_USER='replicator', 
           {% if mysql_version == '8.0' %}
           GET_MASTER_PUBLIC_KEY=1,
           {% endif %}
           MASTER_PASSWORD='mysql_pass_replicator' 

           FOR CHANNEL 'group_replication_recovery';


{% if i == 0 %} 
{% endif %}


{% if  i > 0 %}               

{% endif %}


