INSTALL PLUGIN group_replication SONAME 'group_replication.so';

SET SQL_LOG_BIN=0;

CREATE USER replication@'%' IDENTIFIED BY 'mysql_pass_replication';

GRANT REPLICATION SLAVE ON *.* TO replication@'%';

FLUSH PRIVILEGES;


SET SQL_LOG_BIN=1;

CHANGE MASTER TO MASTER_USER='replication', MASTER_PASSWORD='mysql_pass_replication' FOR CHANNEL 'group_replication_recovery';