sudo firewall-cmd --permanent --zone=public --add-rich-rule="rule family="ipv4" source address="{ source_address }" destination address="{ destination_address }" port port="9200" protocol="tcp" accept"
sudo firewall-cmd --permanent --zone=public --add-rich-rule="rule family="ipv4" source address="{ source_address }" destination address="{ destination_address }" port port="9200" protocol="udp" accept"
