sudo firewall-cmd --permanent --zone=public --add-rich-rule="rule family="ipv4" source address="{ source_address }" destination address="{ destination_address }" port port="3306" protocol="tcp" accept"
sudo firewall-cmd --permanent --zone=public --add-rich-rule="rule family="ipv4" source address="{ source_address }" destination address="{ destination_address }" port port="3306" protocol="udp" accept"

sudo firewall-cmd --permanent --zone=public --add-rich-rule="rule family="ipv4" source address="192.168.1.0/24" destination address="192.168.1.2" port port="3306" protocol="tcp" accept"
sudo firewall-cmd --permanent --zone=public --add-rich-rule="rule family="ipv4" source address="192.168.1.0/24" destination address="192.168.1.2" port port="3306" protocol="udp" accept"

sudo firewall-cmd --permanent --zone=public --add-rich-rule="rule family="ipv4" source address="47.244.73.40" reject"

sudo firewall-cmd --permanent --zone=public --add-rich-rule="rule family="ipv4" source address="47.244.73.49" reject"
