sudo firewall-cmd --permanent --zone=public --add-rich-rule="rule family="ipv4" port port="80" protocol="tcp" accept"

sudo firewall-cmd --permanent --zone=public --add-rich-rule="rule family="ipv4" port port="443" protocol="tcp" accept"

firewall-cmd --permanent --add-rich-rule="rule family='ipv4' source address='163.181.38.0/24' reject"
