/*
 Navicat Premium Data Transfer

 Source Server         : 127.0.0.1
 Source Server Type    : MySQL
 Source Server Version : 50727
 Source Host           : 127.0.0.1:3306
 Source Schema         : chatroom

 Target Server Type    : MySQL
 Target Server Version : 50727
 File Encoding         : 65001

 Date: 27/07/2020 10:17:14
*/

SET NAMES utf8mb4;
SET FOREIGN_KEY_CHECKS = 0;

-- ----------------------------
-- Table structure for administrator_authorizations
-- ----------------------------
DROP TABLE IF EXISTS `administrator_authorizations`;
CREATE TABLE `administrator_authorizations`  (
  `administrator_authorization_id` int(12) UNSIGNED NOT NULL AUTO_INCREMENT,
  `route` varchar(32) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NULL DEFAULT NULL,
  `methods` set('GET','POST','PUT','DELETE') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NULL DEFAULT '',
  `administrator_group_id` int(12) NOT NULL,
  `status` tinyint(1) NULL DEFAULT NULL,
  `added_time` datetime(0) NULL DEFAULT NULL,
  `edited_time` datetime(0) NULL DEFAULT NULL,
  `removed_time` datetime(0) NULL DEFAULT NULL,
  PRIMARY KEY (`administrator_authorization_id`) USING BTREE,
  UNIQUE INDEX `administrator_group_id_route`(`administrator_group_id`, `route`) USING BTREE
) ENGINE = InnoDB AUTO_INCREMENT = 3 CHARACTER SET = utf8mb4 COLLATE = utf8mb4_unicode_ci ROW_FORMAT = Dynamic;

-- ----------------------------
-- Records of administrator_authorizations
-- ----------------------------
INSERT INTO `administrator_authorizations` VALUES (1, '/admin/resource/room', 'GET,POST,PUT,DELETE', 1, 1, '2019-08-14 15:29:06', '2019-08-14 15:29:06', NULL);
INSERT INTO `administrator_authorizations` VALUES (2, '/admin/resource/word', 'DELETE', 1, 1, NULL, NULL, NULL);

-- ----------------------------
-- Table structure for administrator_groups
-- ----------------------------
DROP TABLE IF EXISTS `administrator_groups`;
CREATE TABLE `administrator_groups`  (
  `administrator_group_id` int(12) NOT NULL,
  `name` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NULL DEFAULT NULL,
  `status` tinyint(1) UNSIGNED ZEROFILL NOT NULL DEFAULT 0 COMMENT '状态',
  `added_time` datetime(6) NULL DEFAULT NULL ON UPDATE CURRENT_TIMESTAMP(6) COMMENT '创建时间',
  `edited_time` datetime(6) NULL DEFAULT NULL ON UPDATE CURRENT_TIMESTAMP(6) COMMENT '更新时间',
  `removed_time` datetime(0) NULL DEFAULT NULL,
  PRIMARY KEY (`administrator_group_id`) USING BTREE
) ENGINE = InnoDB CHARACTER SET = utf8mb4 COLLATE = utf8mb4_unicode_ci ROW_FORMAT = Dynamic;

-- ----------------------------
-- Records of administrator_groups
-- ----------------------------
INSERT INTO `administrator_groups` VALUES (1, '超级部门', 0, NULL, NULL, NULL);
INSERT INTO `administrator_groups` VALUES (2, '技術部', 0, NULL, NULL, NULL);
INSERT INTO `administrator_groups` VALUES (3, '人事部', 0, NULL, NULL, NULL);
INSERT INTO `administrator_groups` VALUES (4, '空部门', 0, NULL, NULL, NULL);

-- ----------------------------
-- Table structure for administrator_to_administrator_group
-- ----------------------------
DROP TABLE IF EXISTS `administrator_to_administrator_group`;
CREATE TABLE `administrator_to_administrator_group`  (
  `administrator_id` int(12) UNSIGNED NOT NULL,
  `administrator_group_id` int(12) UNSIGNED NOT NULL,
  `added_time` datetime(6) NULL DEFAULT NULL ON UPDATE CURRENT_TIMESTAMP(6) COMMENT '创建时间',
  `edited_time` datetime(6) NULL DEFAULT NULL ON UPDATE CURRENT_TIMESTAMP(6) COMMENT '更新时间',
  `removed_time` datetime(0) NULL DEFAULT NULL,
  PRIMARY KEY (`administrator_id`, `administrator_group_id`) USING BTREE
) ENGINE = InnoDB CHARACTER SET = utf8mb4 COLLATE = utf8mb4_unicode_ci ROW_FORMAT = Dynamic;

-- ----------------------------
-- Records of administrator_to_administrator_group
-- ----------------------------
INSERT INTO `administrator_to_administrator_group` VALUES (1, 1, NULL, NULL, NULL);
INSERT INTO `administrator_to_administrator_group` VALUES (1, 4, NULL, NULL, NULL);
INSERT INTO `administrator_to_administrator_group` VALUES (2, 1, NULL, NULL, NULL);
INSERT INTO `administrator_to_administrator_group` VALUES (2, 2, NULL, NULL, NULL);

-- ----------------------------
-- Table structure for administrators
-- ----------------------------
DROP TABLE IF EXISTS `administrators`;
CREATE TABLE `administrators`  (
  `administrator_id` int(10) UNSIGNED NOT NULL AUTO_INCREMENT COMMENT 'ID',
  `name` varchar(32) CHARACTER SET utf8 COLLATE utf8_general_ci NOT NULL DEFAULT '' COMMENT '用户名',
  `nickname` varchar(32) CHARACTER SET utf8 COLLATE utf8_general_ci NOT NULL DEFAULT '' COMMENT '昵称',
  `password` char(40) CHARACTER SET utf8 COLLATE utf8_general_ci NOT NULL DEFAULT '' COMMENT '密码',
  `url` varchar(100) CHARACTER SET utf8 COLLATE utf8_general_ci NOT NULL DEFAULT '' COMMENT '头像',
  `email` varchar(100) CHARACTER SET utf8 COLLATE utf8_general_ci NOT NULL DEFAULT '' COMMENT '电子邮箱',
  `status` tinyint(1) UNSIGNED ZEROFILL NOT NULL DEFAULT 0 COMMENT '状态',
  `added_time` datetime(6) NULL DEFAULT NULL ON UPDATE CURRENT_TIMESTAMP(6) COMMENT '创建时间',
  `edited_time` datetime(6) NULL DEFAULT NULL ON UPDATE CURRENT_TIMESTAMP(6) COMMENT '更新时间',
  `removed_time` datetime(0) NULL DEFAULT NULL,
  PRIMARY KEY (`administrator_id`) USING BTREE,
  UNIQUE INDEX `username`(`name`) USING BTREE
) ENGINE = InnoDB AUTO_INCREMENT = 3 CHARACTER SET = utf8 COLLATE = utf8_general_ci COMMENT = '管理员表' ROW_FORMAT = Compact;

-- ----------------------------
-- Records of administrators
-- ----------------------------
INSERT INTO `administrators` VALUES (1, 'admin', '管理者', 'e45a4f1b101e1e609e258f799a5f40fcb0d8f4e4', 'user/1564820023-6c1af0a78b6233d1e03a3ee09efc6515268d5867.png', '', 1, '2019-08-07 07:50:33.710568', '2019-08-07 07:50:33.710568', NULL);
INSERT INTO `administrators` VALUES (2, 'jim', '吉姆', '', '', '', 1, '2020-07-26 00:07:29.152495', '2020-07-26 00:07:29.152495', NULL);

-- ----------------------------
-- Table structure for configs
-- ----------------------------
DROP TABLE IF EXISTS `configs`;
CREATE TABLE `configs`  (
  `config_id` int(12) UNSIGNED NOT NULL AUTO_INCREMENT,
  `key` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci NOT NULL,
  `value` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci NULL DEFAULT NULL,
  PRIMARY KEY (`config_id`) USING BTREE,
  UNIQUE INDEX `key`(`key`) USING BTREE
) ENGINE = InnoDB AUTO_INCREMENT = 4 CHARACTER SET = utf8mb4 COLLATE = utf8mb4_general_ci ROW_FORMAT = Dynamic;

-- ----------------------------
-- Records of configs
-- ----------------------------
INSERT INTO `configs` VALUES (1, 'betMoney', '0');
INSERT INTO `configs` VALUES (2, 'chargeMoney', '0');
INSERT INTO `configs` VALUES (3, 'day', '2');

-- ----------------------------
-- Table structure for room_users
-- ----------------------------
DROP TABLE IF EXISTS `room_users`;
CREATE TABLE `room_users`  (
  `id` int(11) NOT NULL,
  `room_id` int(11) NULL DEFAULT NULL,
  `user_id` int(11) NULL DEFAULT NULL,
  `status` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci NULL DEFAULT NULL,
  PRIMARY KEY (`id`) USING BTREE
) ENGINE = InnoDB CHARACTER SET = utf8mb4 COLLATE = utf8mb4_general_ci ROW_FORMAT = Dynamic;

-- ----------------------------
-- Table structure for rooms
-- ----------------------------
DROP TABLE IF EXISTS `rooms`;
CREATE TABLE `rooms`  (
  `id` int(11) NOT NULL,
  `name` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci NULL DEFAULT NULL,
  PRIMARY KEY (`id`) USING BTREE
) ENGINE = InnoDB CHARACTER SET = utf8mb4 COLLATE = utf8mb4_general_ci ROW_FORMAT = Dynamic;

-- ----------------------------
-- Table structure for user_statuses
-- ----------------------------
DROP TABLE IF EXISTS `user_statuses`;
CREATE TABLE `user_statuses`  (
  `user_status_id` int(10) UNSIGNED NOT NULL AUTO_INCREMENT,
  `platform_uid` varchar(128) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci NULL DEFAULT NULL,
  `style` int(10) UNSIGNED NULL DEFAULT 1,
  `banned` int(10) UNSIGNED NOT NULL DEFAULT 0,
  `level` varchar(128) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci NOT NULL DEFAULT '1',
  `added_time` datetime(0) NOT NULL,
  `edited_time` datetime(0) NOT NULL,
  `removed_time` datetime(0) NULL DEFAULT NULL,
  PRIMARY KEY (`user_status_id`) USING BTREE,
  UNIQUE INDEX `platform_uid`(`platform_uid`) USING BTREE
) ENGINE = InnoDB AUTO_INCREMENT = 19 CHARACTER SET = utf8mb4 COLLATE = utf8mb4_general_ci ROW_FORMAT = Dynamic;

-- ----------------------------
-- Records of user_statuses
-- ----------------------------
INSERT INTO `user_statuses` VALUES (1, 'admin', 1, 0, '1', '2019-07-18 19:42:22', '2019-07-25 19:42:26', NULL);
INSERT INTO `user_statuses` VALUES (2, 'system', 1, 0, '1', '2019-07-18 19:42:38', '2019-07-30 19:42:43', NULL);
INSERT INTO `user_statuses` VALUES (16, '5104', 1, 0, '1', '2019-07-09 15:00:41', '2019-07-09 15:00:41', NULL);
INSERT INTO `user_statuses` VALUES (17, '5160', 1, 0, '1', '2019-07-13 05:33:26', '2019-07-13 05:33:26', NULL);
INSERT INTO `user_statuses` VALUES (18, '5097', 1, 0, '1', '2019-07-13 06:57:49', '2019-07-13 06:57:49', NULL);

-- ----------------------------
-- Table structure for words
-- ----------------------------
DROP TABLE IF EXISTS `words`;
CREATE TABLE `words`  (
  `word_id` int(10) UNSIGNED NOT NULL AUTO_INCREMENT,
  `from` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci NULL DEFAULT NULL,
  `to` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci NULL DEFAULT NULL,
  `type` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci NULL DEFAULT NULL COMMENT 'warning | ignore | replace | empty | block',
  `status` tinyint(2) NOT NULL,
  `added_time` datetime(0) NULL DEFAULT NULL ON UPDATE CURRENT_TIMESTAMP(0),
  `edited_time` datetime(0) NULL DEFAULT NULL ON UPDATE CURRENT_TIMESTAMP(0),
  `removed_time` datetime(0) NULL DEFAULT NULL,
  PRIMARY KEY (`word_id`) USING BTREE
) ENGINE = InnoDB AUTO_INCREMENT = 3 CHARACTER SET = utf8mb4 COLLATE = utf8mb4_general_ci ROW_FORMAT = Dynamic;

-- ----------------------------
-- Records of words
-- ----------------------------
INSERT INTO `words` VALUES (1, 'fuck', 'f********', 'replace', 1, '2019-07-08 20:39:10', '2019-07-08 20:39:10', NULL);
INSERT INTO `words` VALUES (2, 'suck', 's***', 'block', 1, NULL, NULL, NULL);

SET FOREIGN_KEY_CHECKS = 1;
