#jinja2: lstrip_blocks: True

server {
    listen       {{ VHOST['HTTP_PORT'] | default(80) }};
    listen       [::]:{{ VHOST['HTTP_PORT'] | default(80) }};
    server_name  {{ VHOST['SERVER_NAME'] }};
    {% if VHOST['ROOT'] is defined %}
    root         {{ VHOST['ROOT'] }};
    {% endif %}



    charset utf-8;
    server_tokens off;

    {% if VHOST['ADD_HEADERS'] is defined %}
    {% for ADD_HEADER in VHOST['ADD_HEADERS'] %}
    add_header {{ ADD_HEADER }};
    {% endfor %}
    {% endif %}    


    # We can not wire mime types scope here becasue the local scope will overwrite the global scoce

    index        {{ VHOST['INDEX'] | default('index.html index.htm') }}; 
    
    # Load configuration files for the default server block.
	
    location = /favicon.ico { access_log off; log_not_found off; }
    location = /robots.txt  { access_log off; log_not_found off; }
	
    error_page 404 /index.php;

    location ~* \.(m3u8|ts|mp4|avi|wmv|rm|rmvb|mkv|mp3|wma|wav|aac|txt|pdf|doc|docx|xls|xlsx|ppt|pptx|zip|rar)(\?.+)?$ {
        max_ranges 0;
    }

    location ~* \.(ico|bmp|bmp4|css|js|gif|jpe?g|png|ogg|ogv|svg|svgz|eot|otf|woff)(\?.+)?$ {
        expires max;
        log_not_found off;
    }

    location / {

        {% if VHOST['TRY_FILES'] is defined %}
        try_files {{ VHOST['TRY_FILES'] }};
        {% endif %}        

        {% if VHOST['REWRITE'] == 1 %}
        if (!-e $request_filename) {
            rewrite  "^/admin/public/(.*)$"  /admin/public/index.php/$1  last;
            rewrite  "^/mapi/public/(.*)$"  /mapi/public/index.php/$1  last;
            rewrite  "^/agent/public/(.*)$"  /agent/public/index.php/$1  last;
            rewrite  "^/share/([a-z0-9_]{1,32})$" /agent/public/admin/download/index?agent=$1 last;
            break;
        }
        {% endif %}

        {% if VHOST['M_SERVER_NAME'] is defined %}
        if ($http_user_agent ~* '(iPhone|iPod|iPad|Android|BlackBerry|webOS|Windows Phone)') {
            return 301 $scheme://{{ VHOST['M_SERVER_NAME'] }}$request_uri;
        }
        {% endif %}

        {% if VHOST['WWW_SERVER_NAME'] is defined %}
        if ($http_user_agent !~* '(iPhone|iPod|iPad|Android|BlackBerry|webOS|Windows Phone)') {
            return 301 $scheme://{{ VHOST['WWW_SERVER_NAME'] }}$request_uri;
        }
        {% endif %}

        {% if VHOST['PROXY_PORT'] is defined %}
        include conf.d/proxy{{ VHOST['PROXY_PORT'] | default(4001) }}.conf;

        {% endif %}

    }


    {% if VHOST['PHP'] is defined %}
    location ~ \.php(.*)$ {
        include conf.d/php{{ VHOST['PHP'] | default(7.3) | regex_replace('([0-9]+).([0-9]+)', '\\1\\2') }}.conf;
    }
    {% endif %}

}
