#jinja2: lstrip_blocks: True

{% if VHOST['UPSTREAM']['NAME'] is defined %}
upstream {{ VHOST['UPSTREAM']['NAME'] }} {
    {% if VHOST['UPSTREAM']['SERVERS'] is defined %}
    {% for SERVER in VHOST['UPSTREAM']['SERVERS'] %}
    server {{ SERVER }};
    {% endfor %}
    {% endif %}
}
{% endif %}   


server {
    listen       {{ VHOST['HTTP_PORT'] | default(80) }};
    listen       [::]:{{ VHOST['HTTP_PORT'] | default(80) }};
    server_name  {{ VHOST['SERVER_NAME'] }};
    {% if VHOST['ROOT'] is defined %}
    root         {{ VHOST['ROOT'] }};
    {% endif %}

    {% if VHOST['RETURN'] is defined %}
    return {{ VHOST['RETURN'] }};
    {% endif %}
    charset utf-8;
    server_tokens off;

    # Adds the specified field to a response header provided that the response code equals 
    # 200, 201 (1.3.10), 204, 206, 301, 302, 303, 304, 307 (1.1.16, 1.0.13), or 308 (1.13.0). 
    # Parameter value can contain variables.
    # If the always parameter is specified (1.7.5), the header field will be added regardless of the response code.

    {% if VHOST['ADD_HEADERS'] is defined %}
    {% for ADD_HEADER in VHOST['ADD_HEADERS'] %}
    add_header {{ ADD_HEADER }} always;
    {% endfor %}
    {% endif %}    

    # We can not wire mime types scope here becasue the local scope will overwrite the global scoce

    index        {{ VHOST['INDEX'] | default('index.html index.htm') }}; 
    
    # Load configuration files for the default server block.
	
    location = /favicon.ico { access_log off; log_not_found off; }
    location = /robots.txt  { access_log off; log_not_found off; }
	
    error_page 404 /index.php;


    location ~* \.(m3u8|ts|mp4|avi|wmv|rm|rmvb|mkv|mp3|wma|wav|aac|txt|pdf|doc|docx|xls|xlsx|ppt|pptx|zip|rar)(\?.+)?$ {
        expires max;
        max_ranges 100; # cannot use 0
    }

    location ~* \.(ico|bmp|bmp4|css|js|gif|jpe?g|png|ogg|ogv|svg|svgz|eot|otf|woff)(\?.+)?$ {
        expires max;
        log_not_found off;
    }


    if ($request_method = 'OPTIONS' ) {
        return 204;
    }


    location {{ VHOST['LOCATION'] | default('/') }} {

        {% if VHOST['TRY_FILES'] is defined %}
        try_files {{ VHOST['TRY_FILES'] }};
        {% endif %}        

        {% if VHOST['REWRITE'] == 1 %}
        if (!-e $request_filename) {
            rewrite  "^/admin/public/(.*)$"  /admin/public/index.php/$1  last;
            rewrite  "^/mapi/public/(.*)$"  /mapi/public/index.php/$1  last;
            rewrite  "^/agent/public/(.*)$"  /agent/public/index.php/$1  last;
            rewrite  "^/share/([a-z0-9_]{1,32})$" /agent/public/admin/download/index?agent=$1 last;
            break;
        }
        {% endif %}


        {% if VHOST['REDIRECT'] is defined and VHOST['REDIRECT'] == 1 %}
        set $s_condition '';

        # 00 user_agent is PC and domain is not  m.*
        # 01 user_agent is PC and domain is m.*
        # 10 user_agent is mobile and domain is not  m.*
        # 11 user_agent is mobile and domain is m.*
        if ($http_user_agent ~* '(iPhone|iPod|iPad|Android|BlackBerry|webOS|Windows Phone)') {
            set $b_user_agent_mobile '1';
            set $s_condition "1${s_condition}";
        }

        if ($http_user_agent !~* '(iPhone|iPod|iPad|Android|BlackBerry|webOS|Windows Phone)') {
            set $b_user_agent_mobile '1';
            set $s_condition "0${s_condition}";
        }

        if ($host = m.$domain ) {
            set $s_condition "${s_condition}1";
        }

        if ($host != m.$domain ) {
            set $s_condition "${s_condition}0";
        }

        if ($s_condition = '00') {
            # DO NOTHING
        }

        if ($s_condition = '01') {
                                          # without /  --------------------------------------------
            return 301 $scheme://www.$domain$request_uri;
        }

        if ($s_condition = '10') {
            return 301 $scheme://m.$domain$request_uri;
        }

        if ($s_condition = '11') {
            # DO NOTHING
        }




        {% endif %}

        {% if VHOST['PROXY_PASS'] is defined %}
        proxy_pass {{ VHOST['PROXY_PASS'] }};
        include conf.d/proxy.conf;
        {% endif %}

    }


    {% if VHOST['PHP'] is defined %}
    location ~ \.php(.*)$ {
        fastcgi_pass   127.0.0.1:90{{ VHOST['PHP'] | default(7.3) | regex_replace('([0-9]+).([0-9]+)', '\\1\\2')}};
        include conf.d/php.conf;

    }
    {% endif %}

}
