/*
 Navicat Premium Data Transfer

 Source Server         : FEA all 127.0.0.1
 Source Server Type    : MySQL
 Source Server Version : 50650
 Source Host           : localhost:3306
 Source Schema         : domain

 Target Server Type    : MySQL
 Target Server Version : 50650
 File Encoding         : 65001

 Date: 23/10/2020 15:27:39
*/


CREATE DATABASE IF NOT EXISTS `domain` DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

USE `domain`;
/*
 Navicat Premium Data Transfer

 Source Server         : DEV d 118.190.37.36
 Source Server Type    : MySQL
 Source Server Version : 50732
 Source Host           : localhost:3306
 Source Schema         : domain

 Target Server Type    : MySQL
 Target Server Version : 50732
 File Encoding         : 65001

 Date: 24/10/2020 20:54:35
*/

SET NAMES utf8mb4;
SET FOREIGN_KEY_CHECKS = 0;

-- ----------------------------
-- Table structure for administrator_authorizations
-- ----------------------------
DROP TABLE IF EXISTS `administrator_authorizations`;
CREATE TABLE `administrator_authorizations`  (
  `administrator_authorization_id` int(12) UNSIGNED NOT NULL AUTO_INCREMENT,
  `route` varchar(32) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NULL DEFAULT NULL,
  `methods` set('GET','POST','PUT','DELETE') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NULL DEFAULT '',
  `administrator_group_id` int(12) NOT NULL,
  `status` tinyint(1) NULL DEFAULT NULL,
  `added_time` timestamp(0) NULL DEFAULT NULL,
  `edited_time` timestamp(0) NULL DEFAULT NULL,
  `removed_time` timestamp(0) NULL DEFAULT NULL,
  PRIMARY KEY (`administrator_authorization_id`) USING BTREE,
  UNIQUE INDEX `administrator_group_id_route`(`administrator_group_id`, `route`) USING BTREE
) ENGINE = InnoDB AUTO_INCREMENT = 3 CHARACTER SET = utf8mb4 COLLATE = utf8mb4_unicode_ci ROW_FORMAT = Dynamic;

-- ----------------------------
-- Records of administrator_authorizations
-- ----------------------------
INSERT INTO `administrator_authorizations` VALUES (1, '/admin/resource/room', 'GET,POST,PUT,DELETE', 1, 1, '2019-08-14 15:29:06', '2019-08-14 15:29:06', NULL);
INSERT INTO `administrator_authorizations` VALUES (2, '/admin/resource/word', 'DELETE', 1, 1, NULL, NULL, NULL);

-- ----------------------------
-- Table structure for administrator_groups
-- ----------------------------
DROP TABLE IF EXISTS `administrator_groups`;
CREATE TABLE `administrator_groups`  (
  `administrator_group_id` int(12) NOT NULL,
  `name` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NULL DEFAULT NULL,
  `status` tinyint(1) UNSIGNED ZEROFILL NOT NULL DEFAULT 0 COMMENT '状态',
  `added_time` timestamp(0) NULL DEFAULT NULL ON UPDATE CURRENT_TIMESTAMP(0) COMMENT '创建时间',
  `edited_time` timestamp(0) NULL DEFAULT NULL ON UPDATE CURRENT_TIMESTAMP(0) COMMENT '更新时间',
  `removed_time` timestamp(0) NULL DEFAULT NULL,
  PRIMARY KEY (`administrator_group_id`) USING BTREE
) ENGINE = InnoDB CHARACTER SET = utf8mb4 COLLATE = utf8mb4_unicode_ci ROW_FORMAT = Dynamic;

-- ----------------------------
-- Records of administrator_groups
-- ----------------------------
INSERT INTO `administrator_groups` VALUES (1, '超级部门', 0, NULL, NULL, NULL);
INSERT INTO `administrator_groups` VALUES (2, '技術部', 0, NULL, NULL, NULL);
INSERT INTO `administrator_groups` VALUES (3, '人事部', 0, NULL, NULL, NULL);
INSERT INTO `administrator_groups` VALUES (4, '空部门', 0, NULL, NULL, NULL);

-- ----------------------------
-- Table structure for administrator_to_administrator_group
-- ----------------------------
DROP TABLE IF EXISTS `administrator_to_administrator_group`;
CREATE TABLE `administrator_to_administrator_group`  (
  `administrator_id` int(12) UNSIGNED NOT NULL,
  `administrator_group_id` int(12) UNSIGNED NOT NULL,
  `added_time` timestamp(0) NULL DEFAULT NULL ON UPDATE CURRENT_TIMESTAMP(0) COMMENT '创建时间',
  `edited_time` timestamp(0) NULL DEFAULT NULL ON UPDATE CURRENT_TIMESTAMP(0) COMMENT '更新时间',
  `removed_time` timestamp(0) NULL DEFAULT NULL,
  PRIMARY KEY (`administrator_id`, `administrator_group_id`) USING BTREE
) ENGINE = InnoDB CHARACTER SET = utf8mb4 COLLATE = utf8mb4_unicode_ci ROW_FORMAT = Dynamic;

-- ----------------------------
-- Records of administrator_to_administrator_group
-- ----------------------------
INSERT INTO `administrator_to_administrator_group` VALUES (1, 1, NULL, NULL, NULL);
INSERT INTO `administrator_to_administrator_group` VALUES (1, 4, NULL, NULL, NULL);
INSERT INTO `administrator_to_administrator_group` VALUES (2, 1, NULL, NULL, NULL);
INSERT INTO `administrator_to_administrator_group` VALUES (2, 2, NULL, NULL, NULL);

-- ----------------------------
-- Table structure for administrators
-- ----------------------------
DROP TABLE IF EXISTS `administrators`;
CREATE TABLE `administrators`  (
  `administrator_id` int(10) UNSIGNED NOT NULL AUTO_INCREMENT COMMENT 'ID',
  `name` varchar(32) CHARACTER SET utf8 COLLATE utf8_general_ci NOT NULL DEFAULT '' COMMENT '用户名',
  `nickname` varchar(32) CHARACTER SET utf8 COLLATE utf8_general_ci NOT NULL DEFAULT '' COMMENT '昵称',
  `password` char(40) CHARACTER SET utf8 COLLATE utf8_general_ci NOT NULL DEFAULT '' COMMENT '密码',
  `url` varchar(100) CHARACTER SET utf8 COLLATE utf8_general_ci NOT NULL DEFAULT '' COMMENT '头像',
  `email` varchar(100) CHARACTER SET utf8 COLLATE utf8_general_ci NOT NULL DEFAULT '' COMMENT '电子邮箱',
  `status` tinyint(1) UNSIGNED ZEROFILL NOT NULL DEFAULT 0 COMMENT '状态',
  `added_time` timestamp(0) NULL DEFAULT NULL ON UPDATE CURRENT_TIMESTAMP(0) COMMENT '创建时间',
  `edited_time` timestamp(0) NULL DEFAULT NULL ON UPDATE CURRENT_TIMESTAMP(0) COMMENT '更新时间',
  `removed_time` timestamp(0) NULL DEFAULT NULL,
  PRIMARY KEY (`administrator_id`) USING BTREE,
  UNIQUE INDEX `username`(`name`) USING BTREE
) ENGINE = InnoDB AUTO_INCREMENT = 5 CHARACTER SET = utf8 COLLATE = utf8_general_ci COMMENT = '管理员表' ROW_FORMAT = Compact;

-- ----------------------------
-- Records of administrators
-- ----------------------------
INSERT INTO `administrators` VALUES (1, 'admin', '管理者', 'otpqviUAs5XJFawWdSrCEpc2TRFXKe4I', 'user/1564820023-6c1af0a78b6233d1e03a3ee09efc6515268d5867.png', 'admin@mail.wonderful.com', 1, '2020-10-23 06:03:09', '2020-10-23 06:03:09', NULL);
INSERT INTO `administrators` VALUES (2, 'jim', '吉姆', 'nhmbWpbnUCKOg3JOE6ANxbrbBEyJKjAn', '', '', 1, '2020-10-23 06:05:33', '2020-10-23 06:05:33', NULL);
INSERT INTO `administrators` VALUES (3, 'mars', '火星人', 'nhmbWpbnUCKOg3JOE6ANxbrbBEyJKjAn', '', '', 0, '2020-10-23 13:07:36', '2020-10-23 13:07:36', NULL);
INSERT INTO `administrators` VALUES (4, 'usher', '亚索', 'nhmbWpbnUCKOg3JOE6ANxbrbBEyJKjAn', '', '', 0, '2020-10-23 06:06:11', '2020-10-23 06:06:11', NULL);

-- ----------------------------
-- Table structure for configs
-- ----------------------------
DROP TABLE IF EXISTS `configs`;
CREATE TABLE `configs`  (
  `config_id` int(12) UNSIGNED NOT NULL AUTO_INCREMENT,
  `key` varchar(32) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci NOT NULL,
  `value` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci NULL DEFAULT NULL,
  PRIMARY KEY (`config_id`) USING BTREE,
  UNIQUE INDEX `key`(`key`) USING BTREE
) ENGINE = InnoDB AUTO_INCREMENT = 4 CHARACTER SET = utf8mb4 COLLATE = utf8mb4_general_ci ROW_FORMAT = Dynamic;

-- ----------------------------
-- Records of configs
-- ----------------------------
INSERT INTO `configs` VALUES (1, 'betMoney', '0');
INSERT INTO `configs` VALUES (2, 'chargeMoney', '0');
INSERT INTO `configs` VALUES (3, 'day', '2');

-- ----------------------------
-- Table structure for domains
-- ----------------------------
DROP TABLE IF EXISTS `domains`;
CREATE TABLE `domains`  (
  `domain_id` int(11) UNSIGNED NOT NULL AUTO_INCREMENT,
  `server` varchar(64) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT '',
  `path` varchar(32) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT '/',
  `type` enum('API','STORAGE') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `status` tinyint(1) NOT NULL DEFAULT 1,
  `edited_time` timestamp(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0) ON UPDATE CURRENT_TIMESTAMP(0),
  `added_time` timestamp(0) NOT NULL DEFAULT '1980-01-01 00:00:00',
  `removed_time` timestamp(0) NOT NULL DEFAULT '2038-01-19 03:14:07',
  `weight` smallint(2) UNSIGNED NOT NULL DEFAULT 0,
  `response` varchar(64) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NULL DEFAULT NULL,
  `method` enum('GET','POST','PUT','PATCH','DELETE') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'GET',
  `error` tinytext CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NULL,
  PRIMARY KEY (`domain_id`) USING BTREE,
  INDEX `type_status_weight`(`type`, `status`, `weight`) USING BTREE,
  INDEX `type_weight`(`type`, `weight`) USING BTREE
) ENGINE = InnoDB AUTO_INCREMENT = 13 CHARACTER SET = utf8mb4 COLLATE = utf8mb4_unicode_ci ROW_FORMAT = Compact;

-- ----------------------------
-- Records of domains
-- ----------------------------
INSERT INTO `domain`.`domains`(`domain_id`, `server`, `path`, `type`, `status`, `edited_time`, `added_time`, `removed_time`, `weight`, `response`, `method`, `error`) VALUES (1, 'http://a.lives3-yec-sto07test.xyz', '/result.json', 'STORAGE', 1, '2020-10-24 20:43:18', '2020-10-23 13:34:11', '2038-01-01 00:00:00', 1, '{\n  \"status\": 1,\n  \"message\": \"可以正常访问资源\"\n}', 'GET', NULL);
INSERT INTO `domain`.`domains`(`domain_id`, `server`, `path`, `type`, `status`, `edited_time`, `added_time`, `removed_time`, `weight`, `response`, `method`, `error`) VALUES (2, 'http://b.lives3-yec-sto07test.xyz', '/result.json', 'STORAGE', 1, '2020-10-24 20:52:19', '2020-10-23 10:41:13', '2038-01-19 03:14:07', 1, '{\n  \"status\": 1,\n  \"message\": \"可以正常访问资源\"\n}', 'GET', '[错误]: lives3-yec-sto07test.xyz/result.json \n');
INSERT INTO `domain`.`domains`(`domain_id`, `server`, `path`, `type`, `status`, `edited_time`, `added_time`, `removed_time`, `weight`, `response`, `method`, `error`) VALUES (3, 'http://c.lives3-yec-sto07test.xyz', '/result.json', 'STORAGE', 1, '2020-10-24 20:43:18', '1980-01-01 00:00:00', '2038-01-19 03:14:07', 1, NULL, 'GET', NULL);
INSERT INTO `domain`.`domains`(`domain_id`, `server`, `path`, `type`, `status`, `edited_time`, `added_time`, `removed_time`, `weight`, `response`, `method`, `error`) VALUES (4, 'http://d.lives3-yec-sto07test.xyz', '/result.json', 'STORAGE', 1, '2020-10-24 20:43:18', '1980-01-01 00:00:00', '2038-01-19 03:14:07', 1, NULL, 'GET', NULL);
INSERT INTO `domain`.`domains`(`domain_id`, `server`, `path`, `type`, `status`, `edited_time`, `added_time`, `removed_time`, `weight`, `response`, `method`, `error`) VALUES (5, 'http://e.lives3-yec-sto07test.xyz', '/result.json', 'STORAGE', 1, '2020-10-24 20:43:19', '1980-01-01 00:00:00', '2038-01-19 03:14:07', 1, NULL, 'GET', NULL);
INSERT INTO `domain`.`domains`(`domain_id`, `server`, `path`, `type`, `status`, `edited_time`, `added_time`, `removed_time`, `weight`, `response`, `method`, `error`) VALUES (6, 'http://a.lives2-yc-test0708.xyz', '/result.json', 'API', 1, '2020-10-24 20:43:19', '1980-01-01 00:00:00', '2038-01-19 03:14:07', 1, NULL, 'GET', NULL);
INSERT INTO `domain`.`domains`(`domain_id`, `server`, `path`, `type`, `status`, `edited_time`, `added_time`, `removed_time`, `weight`, `response`, `method`, `error`) VALUES (7, 'http://b.lives2-yc-test0708.xyz', '/result.json', 'API', 1, '2020-10-24 20:43:19', '1980-01-01 00:00:00', '2038-01-19 03:14:07', 1, NULL, 'GET', NULL);
INSERT INTO `domain`.`domains`(`domain_id`, `server`, `path`, `type`, `status`, `edited_time`, `added_time`, `removed_time`, `weight`, `response`, `method`, `error`) VALUES (8, 'http://c.lives2-yc-test0708.xyz', '/result.json', 'API', 1, '2020-10-24 20:43:19', '1980-01-01 00:00:00', '2038-01-19 03:14:07', 1, NULL, 'GET', NULL);
INSERT INTO `domain`.`domains`(`domain_id`, `server`, `path`, `type`, `status`, `edited_time`, `added_time`, `removed_time`, `weight`, `response`, `method`, `error`) VALUES (9, 'http://d.lives2-yc-test0708.xyz', '/result.json', 'API', 1, '2020-10-24 20:43:19', '1980-01-01 00:00:00', '2038-01-19 03:14:07', 1, NULL, 'GET', NULL);
INSERT INTO `domain`.`domains`(`domain_id`, `server`, `path`, `type`, `status`, `edited_time`, `added_time`, `removed_time`, `weight`, `response`, `method`, `error`) VALUES (10, 'http://e.lives2-yc-test0708.xyz', '/result.json', 'API', 1, '2020-10-24 20:43:19', '1980-01-01 00:00:00', '2038-01-19 03:14:07', 1, NULL, 'GET', NULL);
INSERT INTO `domain`.`domains`(`domain_id`, `server`, `path`, `type`, `status`, `edited_time`, `added_time`, `removed_time`, `weight`, `response`, `method`, `error`) VALUES (11, 'http://99percent.xyz', '/result.json', 'STORAGE', 1, '2020-10-24 20:43:24', '1980-01-01 00:00:00', '2038-01-19 03:14:07', 99, NULL, 'GET', NULL);
INSERT INTO `domain`.`domains`(`domain_id`, `server`, `path`, `type`, `status`, `edited_time`, `added_time`, `removed_time`, `weight`, `response`, `method`, `error`) VALUES (12, 'http://lives2-yc-test0708.xyz', '/result.json', 'API', 1, '2020-10-24 20:43:24', '1980-01-01 00:00:00', '2038-01-19 03:14:07', 99, NULL, 'GET', NULL);


SET FOREIGN_KEY_CHECKS = 1;
