/*
 Navicat Premium Data Transfer

 Source Server         : FEA all 127.0.0.1
 Source Server Type    : MySQL
 Source Server Version : 50650
 Source Host           : localhost:3306
 Source Schema         : domain

 Target Server Type    : MySQL
 Target Server Version : 50650
 File Encoding         : 65001

 Date: 23/10/2020 15:27:39
*/


CREATE DATABASE IF NOT EXISTS `domain` DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

USE `domain`;
/*
 Navicat Premium Data Transfer

 Source Server         : DEV d 118.190.37.36
 Source Server Type    : MySQL
 Source Server Version : 50732
 Source Host           : localhost:3306
 Source Schema         : domain

 Target Server Type    : MySQL
 Target Server Version : 50732
 File Encoding         : 65001

 Date: 24/10/2020 20:54:35
*/

SET NAMES utf8mb4;
SET FOREIGN_KEY_CHECKS = 0;

-- ----------------------------
-- Table structure for administrator_authorizations
-- ----------------------------
DROP TABLE IF EXISTS `administrator_authorizations`;
CREATE TABLE `administrator_authorizations`  (
  `administrator_authorization_id` int(0) UNSIGNED NOT NULL,
  `route` varchar(32) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NULL DEFAULT NULL,
  `methods` set('GET','POST','PUT','DELETE') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NULL DEFAULT '',
  `administrator_group_id` int(0) NOT NULL,
  `status` tinyint(1) NULL DEFAULT NULL,
  `added_time` timestamp(0) NULL DEFAULT CURRENT_TIMESTAMP(0),
  `edited_time` timestamp(0) NULL DEFAULT CURRENT_TIMESTAMP(0) ON UPDATE CURRENT_TIMESTAMP(0),
  `removed_time` timestamp(0) NULL DEFAULT NULL,
  PRIMARY KEY (`administrator_authorization_id`) USING BTREE,
  UNIQUE INDEX `administrator_group_id_route`(`administrator_group_id`, `route`) USING BTREE
) ENGINE = InnoDB AUTO_INCREMENT = 3 CHARACTER SET = utf8mb4 COLLATE = utf8mb4_unicode_ci ROW_FORMAT = Dynamic;

-- ----------------------------
-- Records of administrator_authorizations
-- ----------------------------
INSERT INTO `administrator_authorizations` VALUES (1, '/admin/resource/room', 'GET,POST,PUT,DELETE', 1, 1, '2019-08-14 15:29:06', '2019-08-14 15:29:06', NULL);
INSERT INTO `administrator_authorizations` VALUES (2, '/admin/resource/word', 'DELETE', 1, 1, NULL, NULL, NULL);

-- ----------------------------
-- Table structure for administrator_groups
-- ----------------------------
DROP TABLE IF EXISTS `administrator_groups`;
CREATE TABLE `administrator_groups`  (
  `administrator_group_id` int(0) NOT NULL,
  `name` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NULL DEFAULT NULL,
  `status` tinyint(1) UNSIGNED ZEROFILL NOT NULL DEFAULT 0 COMMENT '状态',
  `added_time` timestamp(0) NULL DEFAULT NULL ON UPDATE CURRENT_TIMESTAMP(0) COMMENT '创建时间',
  `edited_time` timestamp(0) NULL DEFAULT NULL ON UPDATE CURRENT_TIMESTAMP(0) COMMENT '更新时间',
  `removed_time` timestamp(0) NULL DEFAULT NULL,
  PRIMARY KEY (`administrator_group_id`) USING BTREE
) ENGINE = InnoDB CHARACTER SET = utf8mb4 COLLATE = utf8mb4_unicode_ci ROW_FORMAT = Dynamic;

-- ----------------------------
-- Records of administrator_groups
-- ----------------------------
INSERT INTO `administrator_groups` VALUES (1, '超级部门', 0, NULL, NULL, NULL);
INSERT INTO `administrator_groups` VALUES (2, '技術部', 0, NULL, NULL, NULL);
INSERT INTO `administrator_groups` VALUES (3, '人事部', 0, NULL, NULL, NULL);
INSERT INTO `administrator_groups` VALUES (4, '空部门', 0, NULL, NULL, NULL);

-- ----------------------------
-- Table structure for administrator_to_administrator_group
-- ----------------------------
DROP TABLE IF EXISTS `administrator_to_administrator_group`;
CREATE TABLE `administrator_to_administrator_group`  (
  `administrator_id` int(0) UNSIGNED NOT NULL,
  `administrator_group_id` int(0) UNSIGNED NOT NULL,
  `added_time` timestamp(0) NULL DEFAULT NULL ON UPDATE CURRENT_TIMESTAMP(0) COMMENT '创建时间',
  `edited_time` timestamp(0) NULL DEFAULT NULL ON UPDATE CURRENT_TIMESTAMP(0) COMMENT '更新时间',
  `removed_time` timestamp(0) NULL DEFAULT NULL,
  PRIMARY KEY (`administrator_id`, `administrator_group_id`) USING BTREE
) ENGINE = InnoDB CHARACTER SET = utf8mb4 COLLATE = utf8mb4_unicode_ci ROW_FORMAT = Dynamic;

-- ----------------------------
-- Records of administrator_to_administrator_group
-- ----------------------------
INSERT INTO `administrator_to_administrator_group` VALUES (1, 1, NULL, NULL, NULL);
INSERT INTO `administrator_to_administrator_group` VALUES (1, 4, NULL, NULL, NULL);
INSERT INTO `administrator_to_administrator_group` VALUES (2, 1, NULL, NULL, NULL);
INSERT INTO `administrator_to_administrator_group` VALUES (2, 2, NULL, NULL, NULL);

-- ----------------------------
-- Table structure for administrators
-- ----------------------------
DROP TABLE IF EXISTS `administrators`;
CREATE TABLE `administrators`  (
  `administrator_id` int(0) UNSIGNED NOT NULL AUTO_INCREMENT COMMENT 'ID',
  `name` varchar(32) CHARACTER SET utf8 COLLATE utf8_general_ci NOT NULL DEFAULT '' COMMENT '用户名',
  `nickname` varchar(32) CHARACTER SET utf8 COLLATE utf8_general_ci NOT NULL DEFAULT '' COMMENT '昵称',
  `password` char(40) CHARACTER SET utf8 COLLATE utf8_general_ci NOT NULL DEFAULT '' COMMENT '密码',
  `url` varchar(100) CHARACTER SET utf8 COLLATE utf8_general_ci NOT NULL DEFAULT '' COMMENT '头像',
  `email` varchar(100) CHARACTER SET utf8 COLLATE utf8_general_ci NOT NULL DEFAULT '' COMMENT '电子邮箱',
  `status` tinyint(1) UNSIGNED ZEROFILL NOT NULL DEFAULT 0 COMMENT '状态',
  `added_time` timestamp(0) NULL DEFAULT NULL ON UPDATE CURRENT_TIMESTAMP(0) COMMENT '创建时间',
  `edited_time` timestamp(0) NULL DEFAULT NULL ON UPDATE CURRENT_TIMESTAMP(0) COMMENT '更新时间',
  `removed_time` timestamp(0) NULL DEFAULT NULL,
  PRIMARY KEY (`administrator_id`) USING BTREE,
  UNIQUE INDEX `username`(`name`) USING BTREE
) ENGINE = InnoDB AUTO_INCREMENT = 5 CHARACTER SET = utf8 COLLATE = utf8_general_ci COMMENT = '管理员表' ROW_FORMAT = Compact;

-- ----------------------------
-- Records of administrators
-- ----------------------------
INSERT INTO `administrators` VALUES (1, 'admin', '管理者', 'otpqviUAs5XJFawWdSrCEpc2TRFXKe4I', 'user/1564820023-6c1af0a78b6233d1e03a3ee09efc6515268d5867.png', 'admin@mail.wonderful.com', 1, '2020-10-23 06:03:09', '2020-10-23 06:03:09', NULL);
INSERT INTO `administrators` VALUES (2, 'jim', '吉姆', 'nhmbWpbnUCKOg3JOE6ANxbrbBEyJKjAn', '', '', 1, '2020-10-23 06:05:33', '2020-10-23 06:05:33', NULL);
INSERT INTO `administrators` VALUES (3, 'mars', '火星人', 'nhmbWpbnUCKOg3JOE6ANxbrbBEyJKjAn', '', '', 0, '2020-10-23 13:07:36', '2020-10-23 13:07:36', NULL);
INSERT INTO `administrators` VALUES (4, 'usher', '亚索', 'nhmbWpbnUCKOg3JOE6ANxbrbBEyJKjAn', '', '', 0, '2020-10-23 06:06:11', '2020-10-23 06:06:11', NULL);

-- ----------------------------
-- Table structure for configs
-- ----------------------------
DROP TABLE IF EXISTS `configs`;
CREATE TABLE `configs`  (
  `config_id` int(0) UNSIGNED NOT NULL AUTO_INCREMENT,
  `key` varchar(32) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci NOT NULL,
  `value` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci NULL DEFAULT NULL,
  PRIMARY KEY (`config_id`) USING BTREE,
  UNIQUE INDEX `key`(`key`) USING BTREE
) ENGINE = InnoDB AUTO_INCREMENT = 4 CHARACTER SET = utf8mb4 COLLATE = utf8mb4_general_ci ROW_FORMAT = Dynamic;

-- ----------------------------
-- Records of configs
-- ----------------------------
INSERT INTO `configs` VALUES (1, 'betMoney', '0');
INSERT INTO `configs` VALUES (2, 'chargeMoney', '0');
INSERT INTO `configs` VALUES (3, 'day', '2');

-- ----------------------------
-- Table structure for devices
-- ----------------------------
DROP TABLE IF EXISTS `devices`;
CREATE TABLE `devices`  (
  `device_id` int(0) UNSIGNED NOT NULL AUTO_INCREMENT,
  `name` varchar(64) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT '',
  `type` enum('WEB','ANDROID','IOS') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `status` tinyint(1) NOT NULL DEFAULT 1,
  `edited_time` timestamp(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0) ON UPDATE CURRENT_TIMESTAMP(0),
  `added_time` timestamp(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
  `removed_time` timestamp(0) NOT NULL DEFAULT '2038-01-18 22:14:07',
  PRIMARY KEY (`device_id`) USING BTREE,
  UNIQUE INDEX `type`(`type`) USING BTREE
) ENGINE = InnoDB AUTO_INCREMENT = 31 CHARACTER SET = utf8mb4 COLLATE = utf8mb4_unicode_ci ROW_FORMAT = Compact;

-- ----------------------------
-- Records of devices
-- ----------------------------
INSERT INTO `devices` VALUES (1, '網頁', 'WEB', 1, '2020-11-03 09:45:55', '1980-01-01 00:00:00', '2038-01-18 22:14:07');
INSERT INTO `devices` VALUES (2, '安卓', 'ANDROID', 1, '2020-11-03 09:45:59', '1980-01-01 00:00:00', '2038-01-18 22:14:07');
INSERT INTO `devices` VALUES (3, '蘋果', 'IOS', -1, '2020-11-03 08:04:51', '1980-01-01 00:00:00', '2038-01-18 22:14:07');

-- ----------------------------
-- Table structure for domains
-- ----------------------------
DROP TABLE IF EXISTS `domains`;
CREATE TABLE `domains`  (
  `domain_id` int(0) UNSIGNED NOT NULL AUTO_INCREMENT,
  `server` varchar(64) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT '',
  `path` varchar(32) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT '/',
  `type` enum('API','STORAGE') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `status` tinyint(1) NOT NULL DEFAULT 1,
  `weight` smallint(0) UNSIGNED NOT NULL DEFAULT 0,
  `edited_time` timestamp(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0) ON UPDATE CURRENT_TIMESTAMP(0),
  `added_time` timestamp(0) NOT NULL DEFAULT '1980-01-01 00:00:00',
  `removed_time` timestamp(0) NOT NULL DEFAULT '2038-01-18 22:14:07',
  `response` varchar(64) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NULL DEFAULT NULL,
  `method` enum('GET','POST','PUT','PATCH','DELETE') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'GET',
  `error` tinytext CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NULL,
  PRIMARY KEY (`domain_id`) USING BTREE,
  INDEX `type_status_weight`(`type`, `status`, `weight`) USING BTREE,
  INDEX `type_weight`(`type`, `weight`) USING BTREE
) ENGINE = InnoDB AUTO_INCREMENT = 27 CHARACTER SET = utf8mb4 COLLATE = utf8mb4_unicode_ci ROW_FORMAT = Compact;

-- ----------------------------
-- Records of domains
-- ----------------------------
INSERT INTO `domains` VALUES (11, 'https://yecao-7k8s.xyz', '/result.json', 'API', 1, 99, '2020-11-11 22:40:28', '1980-01-01 00:00:00', '2038-01-18 22:14:07', '{\n  \"status\": 1,\n  \"message\": \"可以正常访问资源\"\n}', 'GET', '错误 , 爬取多次失败 \n');
INSERT INTO `domains` VALUES (12, 'https://yecao-7k8s.xyz', '/result.json', 'API', 1, 99, '2020-11-11 22:40:28', '1980-01-01 00:00:00', '2038-01-18 22:14:07', '{\n  \"status\": 1,\n  \"message\": \"可以正常访问资源\"\n}', 'GET', '错误 , 爬取多次失败 \n');
INSERT INTO `domains` VALUES (13, 'https://yecao-7k8s.xyz', '/result.json', 'API', 1, 99, '2020-11-11 22:54:12', '1980-01-01 00:00:00', '2038-01-18 22:14:07', '{\n  \"status\": 1,\n  \"message\": \"可以正常访问资源\"\n}', 'GET', '错误 , 爬取多次失败 \n');
INSERT INTO `domains` VALUES (14, 'https://yecao-7k8s.xyz', '/result.json', 'API', 1, 99, '2020-11-11 23:06:00', '1980-01-01 00:00:00', '2038-01-18 22:14:07', '{\n  \"status\": 1,\n  \"message\": \"可以正常访问资源\"\n}', 'GET', '错误 , 爬取多次失败 \n');
INSERT INTO `domains` VALUES (15, 'https://lives3-yec-07bp.xyz', '/result.json', 'API', 1, 1, '2020-11-11 22:21:27', '1980-01-01 00:00:00', '2038-01-18 22:14:07', '{\n  \"status\": 1,\n  \"message\": \"可以正常访问资源\"\n}', 'GET', '错误 , 爬取多次失败 \n');
INSERT INTO `domains` VALUES (16, 'https://lives3-yec-07bp.xyz', '/result.json', 'API', 1, 1, '2020-11-11 23:00:27', '1980-01-01 00:00:00', '2038-01-18 22:14:07', '{\n  \"status\": 1,\n  \"message\": \"可以正常访问资源\"\n}', 'GET', '错误 , 爬取多次失败 \n');
INSERT INTO `domains` VALUES (17, 'https://lives3-yec-07bp.xyz', '/result.json', 'API', 1, 1, '2020-11-11 23:05:27', '1980-01-01 00:00:00', '2038-01-18 22:14:07', '{\n  \"status\": 1,\n  \"message\": \"可以正常访问资源\"\n}', 'GET', '错误 , 爬取多次失败 \n');
INSERT INTO `domains` VALUES (18, 'https://lives3-yec-07bp.xyz', '/result.json', 'API', 1, 1, '2020-11-11 23:00:27', '1980-01-01 00:00:00', '2038-01-18 22:14:07', '{\n  \"status\": 1,\n  \"message\": \"可以正常访问资源\"\n}', 'GET', '错误 , 爬取多次失败 \n');
INSERT INTO `domains` VALUES (21, 'https://ckhomepage.xyz', '/result.json', 'STORAGE', 1, 99, '2020-11-11 22:40:27', '1980-01-01 00:00:00', '2038-01-18 22:14:07', '{\n  \"status\": 1,\n  \"message\": \"可以正常访问资源\"\n}', 'GET', '错误 , 爬取多次失败 \n');
INSERT INTO `domains` VALUES (22, 'https://ckhomepage.xyz', '/result.json', 'STORAGE', 1, 99, '2020-11-11 22:40:27', '1980-01-01 00:00:00', '2038-01-18 22:14:07', '{\n  \"status\": 1,\n  \"message\": \"可以正常访问资源\"\n}', 'GET', '错误 , 爬取多次失败 \n');
INSERT INTO `domains` VALUES (23, 'https://ckhomepage.xyz', '/result.json', 'STORAGE', 1, 99, '2020-11-11 22:40:27', '1980-01-01 00:00:00', '2038-01-18 22:14:07', '{\n  \"status\": 1,\n  \"message\": \"可以正常访问资源\"\n}', 'GET', '错误 , 爬取多次失败 \n');
INSERT INTO `domains` VALUES (24, 'https://zhaoxiongjie.xyz', '/result.json', 'STORAGE', 1, 1, '2020-11-11 22:21:27', '1980-01-01 00:00:00', '2038-01-18 22:14:07', '{\n  \"status\": 1,\n  \"message\": \"可以正常访问资源\"\n}', 'GET', '错误 , 爬取多次失败 \n');
INSERT INTO `domains` VALUES (25, 'https://zhaoxiongjie.xyz', '/result.json', 'STORAGE', 1, 1, '2020-11-11 22:21:27', '1980-01-01 00:00:00', '2038-01-18 22:14:07', '{\n  \"status\": 1,\n  \"message\": \"可以正常访问资源\"\n}', 'GET', '错误 , 爬取多次失败 \n');
INSERT INTO `domains` VALUES (26, 'https://zhaoxiongjie.xyz', '/result.json', 'STORAGE', 1, 1, '2020-11-11 22:21:27', '1980-01-01 00:00:00', '2038-01-18 22:14:07', '{\n  \"status\": 1,\n  \"message\": \"可以正常访问资源\"\n}', 'GET', '错误 , 爬取多次失败 \n');



CREATE TABLE `withdrawal` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `no` char(32) COLLATE utf8mb4_unicode_ci NOT NULL,
  `user_id` int(10) NOT NULL,
  `type` enum('THIRD','DEFAULT') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'DEFAULT',
  `coin` decimal(65,2) NOT NULL,
  `rate` decimal(16,2) unsigned NOT NULL DEFAULT '1.00',
  `currency` decimal(65,2) NOT NULL,
  `date` date NOT NULL,
  `status` tinyint(2) NOT NULL DEFAULT '0' COMMENT '-1 失败，0 刚建立, 1 交易中， 2 完成',
  `created_time` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `body` tinytext COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'THIRD 回调 全部字节 (加密)',
  `data` tinytext COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'THIRD 回调 业务资料字节 (解密)',
  `ip` varchar(16) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT '',
  `uri` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT '',
  `user_agent` tinytext COLLATE utf8mb4_unicode_ci NOT NULL,
  `reason` tinytext COLLATE utf8mb4_unicode_ci NOT NULL,
  `admin_id` int(11) NOT NULL DEFAULT '0',
  `finished_time` timestamp NOT NULL DEFAULT '2038-01-19 11:14:07',
  `account` char(64) COLLATE utf8mb4_unicode_ci NOT NULL,
  `name` char(32) COLLATE utf8mb4_unicode_ci NOT NULL,
  `note` tinytext COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`id`,`date`) USING BTREE,
  UNIQUE KEY `no-date` (`no`,`date`) USING BTREE,
  KEY `uid-date` (`user_id`,`date`) USING BTREE
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci ROW_FORMAT=COMPACT
/*!50100 PARTITION BY RANGE (TO_DAYS(date))
(PARTITION p0 VALUES LESS THAN (738095) ENGINE = InnoDB,
 PARTITION p1 VALUES LESS THAN (738125) ENGINE = InnoDB,
 PARTITION p2 VALUES LESS THAN (738156) ENGINE = InnoDB,
 PARTITION p3 VALUES LESS THAN (738187) ENGINE = InnoDB,
 PARTITION p4 VALUES LESS THAN (738215) ENGINE = InnoDB,
 PARTITION p5 VALUES LESS THAN (738246) ENGINE = InnoDB,
 PARTITION p6 VALUES LESS THAN (738276) ENGINE = InnoDB,
 PARTITION p7 VALUES LESS THAN (738307) ENGINE = InnoDB,
 PARTITION p8 VALUES LESS THAN (738337) ENGINE = InnoDB,
 PARTITION p9 VALUES LESS THAN (738368) ENGINE = InnoDB,
 PARTITION p10 VALUES LESS THAN (738399) ENGINE = InnoDB,
 PARTITION p11 VALUES LESS THAN (738429) ENGINE = InnoDB,
 PARTITION p12 VALUES LESS THAN (738460) ENGINE = InnoDB,
 PARTITION p13 VALUES LESS THAN (738490) ENGINE = InnoDB,
 PARTITION p14 VALUES LESS THAN (738521) ENGINE = InnoDB,
 PARTITION p15 VALUES LESS THAN (738552) ENGINE = InnoDB,
 PARTITION p16 VALUES LESS THAN (738580) ENGINE = InnoDB,
 PARTITION p17 VALUES LESS THAN (738611) ENGINE = InnoDB,
 PARTITION p18 VALUES LESS THAN (738641) ENGINE = InnoDB,
 PARTITION p19 VALUES LESS THAN (738672) ENGINE = InnoDB,
 PARTITION p20 VALUES LESS THAN (738702) ENGINE = InnoDB,
 PARTITION p21 VALUES LESS THAN (738733) ENGINE = InnoDB,
 PARTITION p22 VALUES LESS THAN (738764) ENGINE = InnoDB,
 PARTITION p23 VALUES LESS THAN (738794) ENGINE = InnoDB,
 PARTITION p24 VALUES LESS THAN (738825) ENGINE = InnoDB,
 PARTITION p25 VALUES LESS THAN (738855) ENGINE = InnoDB,
 PARTITION p26 VALUES LESS THAN (738886) ENGINE = InnoDB,
 PARTITION p27 VALUES LESS THAN (738917) ENGINE = InnoDB,
 PARTITION p28 VALUES LESS THAN (738945) ENGINE = InnoDB,
 PARTITION p29 VALUES LESS THAN (738976) ENGINE = InnoDB,
 PARTITION p30 VALUES LESS THAN (739006) ENGINE = InnoDB,
 PARTITION p31 VALUES LESS THAN (739037) ENGINE = InnoDB,
 PARTITION p32 VALUES LESS THAN (739067) ENGINE = InnoDB,
 PARTITION p33 VALUES LESS THAN (739098) ENGINE = InnoDB,
 PARTITION p34 VALUES LESS THAN (739129) ENGINE = InnoDB,
 PARTITION p35 VALUES LESS THAN (739159) ENGINE = InnoDB,
 PARTITION p36 VALUES LESS THAN (739190) ENGINE = InnoDB,
 PARTITION p37 VALUES LESS THAN (739220) ENGINE = InnoDB,
 PARTITION p38 VALUES LESS THAN (739251) ENGINE = InnoDB,
 PARTITION p39 VALUES LESS THAN (739282) ENGINE = InnoDB,
 PARTITION p40 VALUES LESS THAN (739311) ENGINE = InnoDB,
 PARTITION p41 VALUES LESS THAN (739342) ENGINE = InnoDB,
 PARTITION p42 VALUES LESS THAN (739372) ENGINE = InnoDB,
 PARTITION p43 VALUES LESS THAN (739403) ENGINE = InnoDB,
 PARTITION p44 VALUES LESS THAN (739433) ENGINE = InnoDB,
 PARTITION p45 VALUES LESS THAN (739464) ENGINE = InnoDB,
 PARTITION p46 VALUES LESS THAN (739495) ENGINE = InnoDB,
 PARTITION p47 VALUES LESS THAN (739525) ENGINE = InnoDB,
 PARTITION p48 VALUES LESS THAN (739556) ENGINE = InnoDB,
 PARTITION p49 VALUES LESS THAN (739586) ENGINE = InnoDB,
 PARTITION p50 VALUES LESS THAN (739617) ENGINE = InnoDB,
 PARTITION p51 VALUES LESS THAN (739648) ENGINE = InnoDB,
 PARTITION p52 VALUES LESS THAN (739676) ENGINE = InnoDB,
 PARTITION p53 VALUES LESS THAN (739707) ENGINE = InnoDB,
 PARTITION p54 VALUES LESS THAN (739737) ENGINE = InnoDB,
 PARTITION p55 VALUES LESS THAN (739768) ENGINE = InnoDB,
 PARTITION p56 VALUES LESS THAN (739798) ENGINE = InnoDB,
 PARTITION p57 VALUES LESS THAN (739829) ENGINE = InnoDB,
 PARTITION p58 VALUES LESS THAN (739860) ENGINE = InnoDB,
 PARTITION p59 VALUES LESS THAN MAXVALUE ENGINE = InnoDB) */;


CREATE TABLE `user_activity` (
  `id` int(11) unsigned NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL COMMENT '用户id',
  `created_time` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '签到时间',
  `date` date NOT NULL,
  `type` enum('SIGNATURE','INVITATION','COMMENT','LIKE','BZONE','MOBILE','EMAIL','FIRST_RECHARGE','UPLOADER') DEFAULT NULL,
  `coin` decimal(65,2) NOT NULL,
  `status` tinyint(2) unsigned NOT NULL DEFAULT '0' COMMENT '-1 交易失败，0 未开始, 1 已送出， 2 交易中，3 交易完成',
  PRIMARY KEY (`id`) USING BTREE,
  KEY `uid_date` (`user_id`,`date`) USING BTREE,
  KEY `user_id-type` (`user_id`,`type`)
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8 ROW_FORMAT=DYNAMIC COMMENT='用户签到列表';



CREATE TABLE `transaction` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `user_id` int(10) NOT NULL,
  `type` enum('ACTIVITY_IN','ACTIVITY_OUT','ORDER_IN','ORDER_OUT','CASH_IN','CASH_OUT','SYSTEM_IN','SYSTEM_OUT','ADMIN_IN','ADMIN_OUT','TAX_IN','TAX_OUT','TRANSFER_IN','TRANSFER_OUT','RECHARGE_IN','RECHARGE_OUT','DEPOSIT_IN','TIP_IN','TIP_OUT','WITHDRAWAL_OUT') COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `coin` decimal(65,2) NOT NULL COMMENT '实际充值金额',
  `deposit_coin` decimal(65,2) NOT NULL COMMENT '充值送的彩金',
  `activity_coin` decimal(65,2) NOT NULL COMMENT '活动送的彩金',
  `income` decimal(65,2) NOT NULL,
  `date` date NOT NULL,
  `created_time` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `user_activity_id` int(10) unsigned NOT NULL,
  `tip_id` int(10) NOT NULL DEFAULT '0',
  `admin_id` int(10) unsigned NOT NULL DEFAULT '0',
  `transfer_id` int(10) NOT NULL DEFAULT '0',
  `recharge_id` int(10) NOT NULL DEFAULT '0',
  `order_id` int(10) unsigned NOT NULL DEFAULT '0',
  `withdrawal_id` int(10) DEFAULT '0',
  PRIMARY KEY (`id`,`date`) USING BTREE,
  KEY `user_id-date-type` (`user_id`,`date`,`type`) USING BTREE
) ENGINE=InnoDB AUTO_INCREMENT=155 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci ROW_FORMAT=COMPACT
/*!50100 PARTITION BY RANGE (TO_DAYS(date))
(PARTITION p0 VALUES LESS THAN (738095) ENGINE = InnoDB,
 PARTITION p1 VALUES LESS THAN (738125) ENGINE = InnoDB,
 PARTITION p2 VALUES LESS THAN (738156) ENGINE = InnoDB,
 PARTITION p3 VALUES LESS THAN (738187) ENGINE = InnoDB,
 PARTITION p4 VALUES LESS THAN (738215) ENGINE = InnoDB,
 PARTITION p5 VALUES LESS THAN (738246) ENGINE = InnoDB,
 PARTITION p6 VALUES LESS THAN (738276) ENGINE = InnoDB,
 PARTITION p7 VALUES LESS THAN (738307) ENGINE = InnoDB,
 PARTITION p8 VALUES LESS THAN (738337) ENGINE = InnoDB,
 PARTITION p9 VALUES LESS THAN (738368) ENGINE = InnoDB,
 PARTITION p10 VALUES LESS THAN (738399) ENGINE = InnoDB,
 PARTITION p11 VALUES LESS THAN (738429) ENGINE = InnoDB,
 PARTITION p12 VALUES LESS THAN (738460) ENGINE = InnoDB,
 PARTITION p13 VALUES LESS THAN (738490) ENGINE = InnoDB,
 PARTITION p14 VALUES LESS THAN (738521) ENGINE = InnoDB,
 PARTITION p15 VALUES LESS THAN (738552) ENGINE = InnoDB,
 PARTITION p16 VALUES LESS THAN (738580) ENGINE = InnoDB,
 PARTITION p17 VALUES LESS THAN (738611) ENGINE = InnoDB,
 PARTITION p18 VALUES LESS THAN (738641) ENGINE = InnoDB,
 PARTITION p19 VALUES LESS THAN (738672) ENGINE = InnoDB,
 PARTITION p20 VALUES LESS THAN (738702) ENGINE = InnoDB,
 PARTITION p21 VALUES LESS THAN (738733) ENGINE = InnoDB,
 PARTITION p22 VALUES LESS THAN (738764) ENGINE = InnoDB,
 PARTITION p23 VALUES LESS THAN (738794) ENGINE = InnoDB,
 PARTITION p24 VALUES LESS THAN (738825) ENGINE = InnoDB,
 PARTITION p25 VALUES LESS THAN (738855) ENGINE = InnoDB,
 PARTITION p26 VALUES LESS THAN (738886) ENGINE = InnoDB,
 PARTITION p27 VALUES LESS THAN (738917) ENGINE = InnoDB,
 PARTITION p28 VALUES LESS THAN (738945) ENGINE = InnoDB,
 PARTITION p29 VALUES LESS THAN (738976) ENGINE = InnoDB,
 PARTITION p30 VALUES LESS THAN (739006) ENGINE = InnoDB,
 PARTITION p31 VALUES LESS THAN (739037) ENGINE = InnoDB,
 PARTITION p32 VALUES LESS THAN (739067) ENGINE = InnoDB,
 PARTITION p33 VALUES LESS THAN (739098) ENGINE = InnoDB,
 PARTITION p34 VALUES LESS THAN (739129) ENGINE = InnoDB,
 PARTITION p35 VALUES LESS THAN (739159) ENGINE = InnoDB,
 PARTITION p36 VALUES LESS THAN (739190) ENGINE = InnoDB,
 PARTITION p37 VALUES LESS THAN (739220) ENGINE = InnoDB,
 PARTITION p38 VALUES LESS THAN (739251) ENGINE = InnoDB,
 PARTITION p39 VALUES LESS THAN (739282) ENGINE = InnoDB,
 PARTITION p40 VALUES LESS THAN (739311) ENGINE = InnoDB,
 PARTITION p41 VALUES LESS THAN (739342) ENGINE = InnoDB,
 PARTITION p42 VALUES LESS THAN (739372) ENGINE = InnoDB,
 PARTITION p43 VALUES LESS THAN (739403) ENGINE = InnoDB,
 PARTITION p44 VALUES LESS THAN (739433) ENGINE = InnoDB,
 PARTITION p45 VALUES LESS THAN (739464) ENGINE = InnoDB,
 PARTITION p46 VALUES LESS THAN (739495) ENGINE = InnoDB,
 PARTITION p47 VALUES LESS THAN (739525) ENGINE = InnoDB,
 PARTITION p48 VALUES LESS THAN (739556) ENGINE = InnoDB,
 PARTITION p49 VALUES LESS THAN (739586) ENGINE = InnoDB,
 PARTITION p50 VALUES LESS THAN (739617) ENGINE = InnoDB,
 PARTITION p51 VALUES LESS THAN (739648) ENGINE = InnoDB,
 PARTITION p52 VALUES LESS THAN (739676) ENGINE = InnoDB,
 PARTITION p53 VALUES LESS THAN (739707) ENGINE = InnoDB,
 PARTITION p54 VALUES LESS THAN (739737) ENGINE = InnoDB,
 PARTITION p55 VALUES LESS THAN (739768) ENGINE = InnoDB,
 PARTITION p56 VALUES LESS THAN (739798) ENGINE = InnoDB,
 PARTITION p57 VALUES LESS THAN (739829) ENGINE = InnoDB,
 PARTITION p58 VALUES LESS THAN (739860) ENGINE = InnoDB,
 PARTITION p59 VALUES LESS THAN MAXVALUE ENGINE = InnoDB) */;




 CREATE TABLE `tip` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `owner_id` int(10) unsigned NOT NULL,
  `user_id` int(10) unsigned NOT NULL,
  `type` enum('BZONE','USER_VIDEO') COLLATE utf8mb4_unicode_ci NOT NULL,
  `coin` decimal(65,2) NOT NULL,
  `date` date NOT NULL,
  `created_time` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `user_video_id` int(10) DEFAULT '0',
  `bzone_id` int(10) unsigned NOT NULL DEFAULT '0',
  `status` tinyint(2) NOT NULL COMMENT '-1 交易失败，0 未开始, 1 已送出， 2 交易中，3 交易完成',
  `proportion` decimal(16,2) NOT NULL COMMENT '平台抽成比例',
  `reason` tinytext COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`id`,`date`) USING BTREE,
  KEY `uid-date` (`user_id`,`date`) USING BTREE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci ROW_FORMAT=COMPACT
/*!50100 PARTITION BY RANGE (TO_DAYS(date))
(PARTITION p0 VALUES LESS THAN (738095) ENGINE = InnoDB,
 PARTITION p1 VALUES LESS THAN (738125) ENGINE = InnoDB,
 PARTITION p2 VALUES LESS THAN (738156) ENGINE = InnoDB,
 PARTITION p3 VALUES LESS THAN (738187) ENGINE = InnoDB,
 PARTITION p4 VALUES LESS THAN (738215) ENGINE = InnoDB,
 PARTITION p5 VALUES LESS THAN (738246) ENGINE = InnoDB,
 PARTITION p6 VALUES LESS THAN (738276) ENGINE = InnoDB,
 PARTITION p7 VALUES LESS THAN (738307) ENGINE = InnoDB,
 PARTITION p8 VALUES LESS THAN (738337) ENGINE = InnoDB,
 PARTITION p9 VALUES LESS THAN (738368) ENGINE = InnoDB,
 PARTITION p10 VALUES LESS THAN (738399) ENGINE = InnoDB,
 PARTITION p11 VALUES LESS THAN (738429) ENGINE = InnoDB,
 PARTITION p12 VALUES LESS THAN (738460) ENGINE = InnoDB,
 PARTITION p13 VALUES LESS THAN (738490) ENGINE = InnoDB,
 PARTITION p14 VALUES LESS THAN (738521) ENGINE = InnoDB,
 PARTITION p15 VALUES LESS THAN (738552) ENGINE = InnoDB,
 PARTITION p16 VALUES LESS THAN (738580) ENGINE = InnoDB,
 PARTITION p17 VALUES LESS THAN (738611) ENGINE = InnoDB,
 PARTITION p18 VALUES LESS THAN (738641) ENGINE = InnoDB,
 PARTITION p19 VALUES LESS THAN (738672) ENGINE = InnoDB,
 PARTITION p20 VALUES LESS THAN (738702) ENGINE = InnoDB,
 PARTITION p21 VALUES LESS THAN (738733) ENGINE = InnoDB,
 PARTITION p22 VALUES LESS THAN (738764) ENGINE = InnoDB,
 PARTITION p23 VALUES LESS THAN (738794) ENGINE = InnoDB,
 PARTITION p24 VALUES LESS THAN (738825) ENGINE = InnoDB,
 PARTITION p25 VALUES LESS THAN (738855) ENGINE = InnoDB,
 PARTITION p26 VALUES LESS THAN (738886) ENGINE = InnoDB,
 PARTITION p27 VALUES LESS THAN (738917) ENGINE = InnoDB,
 PARTITION p28 VALUES LESS THAN (738945) ENGINE = InnoDB,
 PARTITION p29 VALUES LESS THAN (738976) ENGINE = InnoDB,
 PARTITION p30 VALUES LESS THAN (739006) ENGINE = InnoDB,
 PARTITION p31 VALUES LESS THAN (739037) ENGINE = InnoDB,
 PARTITION p32 VALUES LESS THAN (739067) ENGINE = InnoDB,
 PARTITION p33 VALUES LESS THAN (739098) ENGINE = InnoDB,
 PARTITION p34 VALUES LESS THAN (739129) ENGINE = InnoDB,
 PARTITION p35 VALUES LESS THAN (739159) ENGINE = InnoDB,
 PARTITION p36 VALUES LESS THAN (739190) ENGINE = InnoDB,
 PARTITION p37 VALUES LESS THAN (739220) ENGINE = InnoDB,
 PARTITION p38 VALUES LESS THAN (739251) ENGINE = InnoDB,
 PARTITION p39 VALUES LESS THAN (739282) ENGINE = InnoDB,
 PARTITION p40 VALUES LESS THAN (739311) ENGINE = InnoDB,
 PARTITION p41 VALUES LESS THAN (739342) ENGINE = InnoDB,
 PARTITION p42 VALUES LESS THAN (739372) ENGINE = InnoDB,
 PARTITION p43 VALUES LESS THAN (739403) ENGINE = InnoDB,
 PARTITION p44 VALUES LESS THAN (739433) ENGINE = InnoDB,
 PARTITION p45 VALUES LESS THAN (739464) ENGINE = InnoDB,
 PARTITION p46 VALUES LESS THAN (739495) ENGINE = InnoDB,
 PARTITION p47 VALUES LESS THAN (739525) ENGINE = InnoDB,
 PARTITION p48 VALUES LESS THAN (739556) ENGINE = InnoDB,
 PARTITION p49 VALUES LESS THAN (739586) ENGINE = InnoDB,
 PARTITION p50 VALUES LESS THAN (739617) ENGINE = InnoDB,
 PARTITION p51 VALUES LESS THAN (739648) ENGINE = InnoDB,
 PARTITION p52 VALUES LESS THAN (739676) ENGINE = InnoDB,
 PARTITION p53 VALUES LESS THAN (739707) ENGINE = InnoDB,
 PARTITION p54 VALUES LESS THAN (739737) ENGINE = InnoDB,
 PARTITION p55 VALUES LESS THAN (739768) ENGINE = InnoDB,
 PARTITION p56 VALUES LESS THAN (739798) ENGINE = InnoDB,
 PARTITION p57 VALUES LESS THAN (739829) ENGINE = InnoDB,
 PARTITION p58 VALUES LESS THAN (739860) ENGINE = InnoDB,
 PARTITION p59 VALUES LESS THAN MAXVALUE ENGINE = InnoDB) */;



 CREATE TABLE `cmf_transfer` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `no` char(32) COLLATE utf8mb4_unicode_ci NOT NULL,
  `user_id` int(10) NOT NULL,
  `type` enum('THIRD') COLLATE utf8mb4_unicode_ci NOT NULL,
  `coin` decimal(65,2) NOT NULL,
  `rate` decimal(16,2) unsigned NOT NULL DEFAULT '1.00',
  `currency` decimal(65,2) NOT NULL,
  `date` date NOT NULL,
  `status` tinyint(2) NOT NULL DEFAULT '0' COMMENT '-1 失败，0 刚建立, 1 交易中， 2 完成',
  `created_time` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `body` tinytext COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'THIRD 回调 全部字节 (加密)',
  `data` tinytext COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'THIRD 回调 业务资料字节 (解密)',
  `ip` varchar(16) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT '',
  `uri` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT '',
  `user_agent` tinytext COLLATE utf8mb4_unicode_ci NOT NULL,
  `reason` tinytext COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`id`,`date`) USING BTREE,
  UNIQUE KEY `no-date` (`no`,`date`) USING BTREE,
  KEY `uid-date` (`user_id`,`date`) USING BTREE
) ENGINE=InnoDB AUTO_INCREMENT=90 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci ROW_FORMAT=COMPACT
/*!50100 PARTITION BY RANGE (TO_DAYS(date))
(PARTITION p0 VALUES LESS THAN (738095) ENGINE = InnoDB,
 PARTITION p1 VALUES LESS THAN (738125) ENGINE = InnoDB,
 PARTITION p2 VALUES LESS THAN (738156) ENGINE = InnoDB,
 PARTITION p3 VALUES LESS THAN (738187) ENGINE = InnoDB,
 PARTITION p4 VALUES LESS THAN (738215) ENGINE = InnoDB,
 PARTITION p5 VALUES LESS THAN (738246) ENGINE = InnoDB,
 PARTITION p6 VALUES LESS THAN (738276) ENGINE = InnoDB,
 PARTITION p7 VALUES LESS THAN (738307) ENGINE = InnoDB,
 PARTITION p8 VALUES LESS THAN (738337) ENGINE = InnoDB,
 PARTITION p9 VALUES LESS THAN (738368) ENGINE = InnoDB,
 PARTITION p10 VALUES LESS THAN (738399) ENGINE = InnoDB,
 PARTITION p11 VALUES LESS THAN (738429) ENGINE = InnoDB,
 PARTITION p12 VALUES LESS THAN (738460) ENGINE = InnoDB,
 PARTITION p13 VALUES LESS THAN (738490) ENGINE = InnoDB,
 PARTITION p14 VALUES LESS THAN (738521) ENGINE = InnoDB,
 PARTITION p15 VALUES LESS THAN (738552) ENGINE = InnoDB,
 PARTITION p16 VALUES LESS THAN (738580) ENGINE = InnoDB,
 PARTITION p17 VALUES LESS THAN (738611) ENGINE = InnoDB,
 PARTITION p18 VALUES LESS THAN (738641) ENGINE = InnoDB,
 PARTITION p19 VALUES LESS THAN (738672) ENGINE = InnoDB,
 PARTITION p20 VALUES LESS THAN (738702) ENGINE = InnoDB,
 PARTITION p21 VALUES LESS THAN (738733) ENGINE = InnoDB,
 PARTITION p22 VALUES LESS THAN (738764) ENGINE = InnoDB,
 PARTITION p23 VALUES LESS THAN (738794) ENGINE = InnoDB,
 PARTITION p24 VALUES LESS THAN (738825) ENGINE = InnoDB,
 PARTITION p25 VALUES LESS THAN (738855) ENGINE = InnoDB,
 PARTITION p26 VALUES LESS THAN (738886) ENGINE = InnoDB,
 PARTITION p27 VALUES LESS THAN (738917) ENGINE = InnoDB,
 PARTITION p28 VALUES LESS THAN (738945) ENGINE = InnoDB,
 PARTITION p29 VALUES LESS THAN (738976) ENGINE = InnoDB,
 PARTITION p30 VALUES LESS THAN (739006) ENGINE = InnoDB,
 PARTITION p31 VALUES LESS THAN (739037) ENGINE = InnoDB,
 PARTITION p32 VALUES LESS THAN (739067) ENGINE = InnoDB,
 PARTITION p33 VALUES LESS THAN (739098) ENGINE = InnoDB,
 PARTITION p34 VALUES LESS THAN (739129) ENGINE = InnoDB,
 PARTITION p35 VALUES LESS THAN (739159) ENGINE = InnoDB,
 PARTITION p36 VALUES LESS THAN (739190) ENGINE = InnoDB,
 PARTITION p37 VALUES LESS THAN (739220) ENGINE = InnoDB,
 PARTITION p38 VALUES LESS THAN (739251) ENGINE = InnoDB,
 PARTITION p39 VALUES LESS THAN (739282) ENGINE = InnoDB,
 PARTITION p40 VALUES LESS THAN (739311) ENGINE = InnoDB,
 PARTITION p41 VALUES LESS THAN (739342) ENGINE = InnoDB,
 PARTITION p42 VALUES LESS THAN (739372) ENGINE = InnoDB,
 PARTITION p43 VALUES LESS THAN (739403) ENGINE = InnoDB,
 PARTITION p44 VALUES LESS THAN (739433) ENGINE = InnoDB,
 PARTITION p45 VALUES LESS THAN (739464) ENGINE = InnoDB,
 PARTITION p46 VALUES LESS THAN (739495) ENGINE = InnoDB,
 PARTITION p47 VALUES LESS THAN (739525) ENGINE = InnoDB,
 PARTITION p48 VALUES LESS THAN (739556) ENGINE = InnoDB,
 PARTITION p49 VALUES LESS THAN (739586) ENGINE = InnoDB,
 PARTITION p50 VALUES LESS THAN (739617) ENGINE = InnoDB,
 PARTITION p51 VALUES LESS THAN (739648) ENGINE = InnoDB,
 PARTITION p52 VALUES LESS THAN (739676) ENGINE = InnoDB,
 PARTITION p53 VALUES LESS THAN (739707) ENGINE = InnoDB,
 PARTITION p54 VALUES LESS THAN (739737) ENGINE = InnoDB,
 PARTITION p55 VALUES LESS THAN (739768) ENGINE = InnoDB,
 PARTITION p56 VALUES LESS THAN (739798) ENGINE = InnoDB,
 PARTITION p57 VALUES LESS THAN (739829) ENGINE = InnoDB,
 PARTITION p58 VALUES LESS THAN (739860) ENGINE = InnoDB,
 PARTITION p59 VALUES LESS THAN MAXVALUE ENGINE = InnoDB) */;




 CREATE TABLE `recharge` (
  `id` int(11) NOT NULL AUTO_INCREMENT COMMENT '手动增减金币记录',
  `user_id` int(11) NOT NULL COMMENT '要操作的用户id',
  `status` int(2) NOT NULL DEFAULT '1' COMMENT '-1 失败，0 刚建立, 1 交易中， 2 完成',
  `coin` decimal(65,2) NOT NULL COMMENT '输入的金币',
  `deposit_coin` decimal(65,2) unsigned NOT NULL,
  `activity_coin` decimal(65,2) unsigned NOT NULL,
  `created_time` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '操作时间',
  `admin_id` int(11) DEFAULT NULL COMMENT '操作人',
  `type` enum('ADMIN','ALIPAY','PAYPAL') DEFAULT NULL COMMENT '充值类型',
  `date` date NOT NULL,
  `note` tinytext NOT NULL,
  `payment_id` int(11) unsigned DEFAULT NULL,
  PRIMARY KEY (`id`) USING BTREE
) ENGINE=InnoDB AUTO_INCREMENT=19 DEFAULT CHARSET=utf8 ROW_FORMAT=DYNAMIC;



CREATE TABLE `order` (
  `id` int(100) NOT NULL AUTO_INCREMENT,
  `coin` decimal(6,2) NOT NULL COMMENT '视频播放时花费的金币数',
  `date` date NOT NULL,
  `created_time` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '添加时间',
  `user_id` int(11) unsigned NOT NULL,
  `owner_id` int(11) NOT NULL,
  `user_video_id` int(11) NOT NULL,
  `status` tinyint(2) NOT NULL DEFAULT '0' COMMENT '-1 交易失败，0 未开始, 1 已送出， 2 交易中，3 交易完成',
  `proportion` decimal(16,2) NOT NULL COMMENT '当下 平台抽成 比例',
  `reason` tinytext NOT NULL,
  PRIMARY KEY (`id`) USING BTREE,
  KEY `user_id` (`user_id`) USING BTREE,
  KEY `owner_id` (`owner_id`) USING BTREE,
  KEY `user_video_id` (`user_video_id`) USING BTREE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 ROW_FORMAT=DYNAMIC;


SET FOREIGN_KEY_CHECKS = 1;
